<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonio Enviado</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="../img/icons/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="contenedor">
    <div class="exito">
        <p class="xl-text">¡TESTIMONIO ENVIADO!</p>
        <a class="btn" href="/">Volver al Inicio</a>
    </div>
</div>
</body>
</html>